<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body style="font-family: Arial; background:#f4f4f4; padding:20px;">
    <div style="max-width:600px; margin:auto; background:white; padding:30px; border-radius:8px;">
        
        <h2 style="color:#0d2721;">Bienvenido {{ nombre }} 👋</h2>
        
        <p>
            Tu cuenta fue creada correctamente en nuestro sistema.
        </p>

        <p>
            Gracias por confiar en nosotros.
        </p>

        <hr>

        <small>
            © 2026 Vagos Restaurante
        </small>

    </div>
</body>
</html>