.analytics-container {
    padding: 40px;
    background: #0f3d2e;
    min-height: 100vh;
    color: white;
}

.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    flex: 1;
    background: #145c44;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.section {
    background: #12362c;
    padding: 20px;
    border-radius: 10px;
}
