.menu-modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 3000;
}

.menu-modal.active {
  display: flex;
}

.menu-modal-content {
  background: #0d2721;
  width: 90%;
  max-width: 1200px;
  max-height: 90vh;
  overflow-y: auto;
  padding: 30px;
  border-radius: 20px;
  color: #f0ead8;
  position: relative;
}

.menu-modal-close {
  position: absolute;
  top: 16px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.menu-ver-mas {
  text-align: center;
  margin-top: 40px;
}

.menu-ver-mas button {
  background: #d4b886;
  color: #0d2721;
  padding: 12px 26px;
  border-radius: 30px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}


.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 5000;
}

.modal.active {
  display: flex;
}

.modal-content {
  background: #0d2721;
  width: 95%;
  max-width: 1100px;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 20px;
  padding: 30px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 20px;
  font-size: 26px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}
