.pos-wrapper {
    display: flex;
    height: 80vh;
}

.pos-productos {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 10px;
}

.pos-producto-btn {
    background: #0F3D2E;
    color: white;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.pos-ticket {
    flex: 1;
    background: #1e1e1e;
    color: white;
    padding: 15px;
}

.pos-total {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.btn-cobrar {
    width: 100%;
    padding: 15px;
    background: green;
    color: white;
    border: none;
    margin-top: 15px;
    font-weight: bold;
}

.pos-producto-btn {
    background: #0F3D2E;
    color: white;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    transition: 0.2s;
}

.pos-producto-btn:hover {
    transform: scale(1.05);
}

.producto-img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
}


.carrito-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1a1a1a;
    padding: 8px;
    margin-bottom: 6px;
    border-radius: 8px;
    color: white;
}

.cantidad-control {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cantidad-control input {
    width: 50px;
    text-align: center;
}

.cantidad-control button {
    background: #0F3D2E;
    color: white;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-eliminar {
    background: red;
    border: none;
    color: white;
    padding: 4px 6px;
    cursor: pointer;
    border-radius: 4px;
}
