{% extends 'base.html' %}
{% block title %}
  Panel Administracion
{% endblock %}

{% block content %}
  <div class="admin-layout">
    <header class="admin-header">
      <button class="menu-toggle" onclick="toggleSidebar()"><i class="fas fa-bars"></i></button>

      <h1 id="adminTitle">Dashboard</h1>
    </header>
    <aside class="sidebar" id="sidebar">
      <h2><i class="fas fa-cog"></i> Admin</h2>

      <nav>
           {% if user.rol == 'admin' or user.rol == 'gerente' or user.rol == 'empleado' %}
        <a href="#" onclick="cargarSeccion('dashboard')"><i class="fas fa-chart-line"></i> Dashboard</a>
        <a href="#" onclick="cargarSeccion('cocina')"><i class="fas fa-chart-line"></i> Cocina</a>

 {% endif %}
        <a href="#" onclick="cargarSeccion('pedidos')"><i class="fas fa-receipt"></i> Pedidos</a>

        <a href="#" onclick="cargarSeccion('reservas')"><i class="fas fa-calendar-check"></i> Reservas</a>

        {% if user.rol == 'admin' or user.rol == 'gerente' or user.rol == 'empleado' %}
          <a href="#" onclick="cargarSeccion('clientes')"><i class="fas fa-users"></i> Clientes</a>
        {% endif %}

        {% if user.rol == 'admin' or user.rol == 'gerente' or user.rol == 'empleado' %}
          <a href="#" onclick="cargarSeccion('productos')"><i class="fas fa-utensils"></i> Productos</a>
        {% endif %}

        {% if user.rol == 'admin' or user.rol == 'cajero' %}
          <a href="#" onclick="cargarSeccion('caja')"><i class="fas fa-cash-register"></i> Caja</a>
        {% endif %}

        {% if user.rol == 'admin' or user.rol == 'gerente' %}
          <a href="#" onclick="cargarSeccion('contacto')"><i class="fas fa-envelope"></i> Mensajes</a>
        {% endif %}

        {% if user.rol == 'admin' %}
          <a href="#" onclick="cargarSeccion('empresa')"><i class="fas fa-building"></i> Configuración de Empresa</a>
        {% endif %}

        {% if user.rol == 'admin' or user.rol == 'gerente' %}
          <a href="#" onclick="cargarSeccion('analitica')"><i class="fas fa-chart-pie"></i> Analítica</a>
        {% endif %}

        {% if user.rol == 'admin' or user.rol == 'gerente' %}
          <a href="#" onclick="cargarSeccion('reportes')"><i class="fas fa-file-alt"></i> Reportes</a>
        {% endif %}

        {% if user.rol == 'admin' or user.rol == 'empleado' %}
          <a href="#" onclick="cargarSeccion('pos')"><i class="fas fa-desktop"></i> Punto de Venta</a>
        {% endif %}
      </nav>
    </aside>
    <main class="admin-content" id="adminContent">
      <section id="adminBody">Bienvenido al panel administrativo</section>
    </main>
  </div>
  <script>
    const HOME_URL = "{% url 'home' %}"
  </script>
{% endblock %}
