{% extends "base.html" %}
{% block title %}Restablecer contraseña{% endblock %}

{% block content %}

<div class="resetpass-container">

    <h2 class="resetpass-title">
        Restablecer contraseña
    </h2>

    {% if mensaje %}
        <div class="resetpass-error">
            {{ mensaje }}
        </div>
    {% endif %}

    <form method="post" class="resetpass-form">

        {% csrf_token %}

        <input
            type="password"
            name="password"
            id="password"
            class="resetpass-input"
            placeholder="Nueva contraseña"
            required
        >

        <input
            type="password"
            name="password2"
            id="password2"
            class="resetpass-input"
            placeholder="Confirmar contraseña"
            required
        >

        <button
            type="submit"
            class="resetpass-btn"
        >
            Guardar contraseña
        </button>

    </form>

</div>

<script>

document.querySelector("form").addEventListener("submit", function(e){

    const p1 = document.getElementById("password").value;
    const p2 = document.getElementById("password2").value;

    if(p1 !== p2){
        e.preventDefault();
        alert("Las contraseñas no coinciden");
    }

});

</script>

{% endblock %}